{% extends 'myapp/header.html' %}
{% load static %}
{% block content %}
<div class="container-fluid login-container" style="margin-bottom: 100px;">
    <div class="row">
        <div class="col-lg-4 col-md-3 col-sm-2"></div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="form-login">
                <br>
                <h3 class="login-head">Forgot password</h3><br>
                <p style="color: red;" id="stats"></p>
                <form action="">
                    <div class="wrapper" id="user_section">
                        <input type="text" id="username" name="userName" class="form-control input-sm chat-input" placeholder="username">
                        <span class="group-btn"><br>
                            <button class="btn btn-md" type="button" style="background-color: #00796b; color: white;">
                                send OTP
                            </button>
                        </span>
                    </div>
                </form>
            </div>

        </div>
        <div class="col-lg-4 col-md-3 col-sm-2"></div>
    </div>
</div>

{% endblock %}

