{% extends 'reseller/reseller_master.html' %}
{% load static %}
{% block reseller_content %}

<div class="container-fluid">
    <div class="row">
        <!-- profile photo -->
        <div class="col-sm-12">
            <img src="{% static 'assets/png-male.png' %}" class="rounded mx-auto d-block" height="200px" width="200px">
        </div>
        <!-- profile photo -->

    </div>
    <br>
    <div class="row">
        <table class="table table-striped">

            <tr>
                <th>First Name</th>
                <td>firstname</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>lastname</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>gender</td>
            </tr>
            <tr>
                <th>Date Of birth</th>
                <td>dateofbirth</td>
            </tr>
            <tr>
                <th>Mobile</th>
                <td>mobile</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>email</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>address</td>
            </tr>

            <tr>
                <th>Country</th>
                <td>country</td>
            </tr>

        </table>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit Profile</button>
    </div>
</div>


<!-- edit profile Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="">
                <div class="modal-body">
                    <div id="custom">
                        <div class="form-row form-group">
                            <div class="col">
                                <label for="">First name</label>
                                <input type="text" class="form-control"  name="firstname" value="">
                            </div>
                            <div class="col">
                                <label for="">Last name (optional)</label>
                                <input type="text" class="form-control" name="lastname" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="adrs">Address</label>
                        <textarea name="address" id="adrs" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group ">
                        <label for="cntry">Country</label>
                        <select name="country" class="form-control">
                                <option>India</option>
                            </select>
                    </div>
                    <div class="form-group">
                        <label for="">mobile</label>
                        <input id="userMobile" class="form-control input-sm chat-input" name="mobile" value="" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
{% endblock %}
